<div class="dashboard">

    <!-- Sidebar -->

    <app-dashboard-sidebar></app-dashboard-sidebar>

    <!-- Main Content -->

    <div class="dashboard-content">

        <!-- Header -->

        <app-dashboard-header></app-dashboard-header>

        <!-- Pages -->

        <!-- <main class="page-content"> -->

            <!-- <router-outlet></router-outlet> -->
             <!-- <app-overview></app-overview> -->
              <!-- <app-applications></app-applications> -->
               <!-- <app-saved-jobs></app-saved-jobs> -->
                <!-- <app-profile></app-profile> -->
                 <!-- <app-settings></app-settings> -->
                  <!-- <app-edit-profile></app-edit-profile> -->

        <!-- </main> -->
         <router-outlet></router-outlet>

    </div>

</div>