:host{
    display:block;
}

.dashboard{

    display:flex;

    min-height:100vh;

    background:#F7F8FC;

}

.dashboard-content{

    flex:1;

    margin-left:280px;

    display:flex;

    flex-direction:column;

}

.page-content{

    flex:1;

    padding:32px;

    overflow-y:auto;

}

@media(max-width:992px){

.dashboard-content{

margin-left:0;

}

.page-content{

padding:20px;

}

}