<section class="applications">

  <div class="page-header">
    <div>
      <h2>My Applications</h2>

      <p>
        Track the status of every job you've applied for.
      </p>
    </div>
  </div>


  @if (loading) {

    <div class="loading">
      Loading applications...
    </div>

  } @else if (applications.length === 0) {

    <div class="empty-state">
      <h3>No applications yet</h3>

      <p>
        You haven't applied to any jobs yet.
      </p>
    </div>

  } @else {

    <div class="table-container">

      <table>

        <thead>
          <tr>
            <th>Company</th>
            <th>Job Title</th>
            <th>Applied</th>
            <th>Status</th>
            <!-- <th>Date</th> -->
          </tr>
        </thead>

        <tbody>

          @for (application of applications; track application._id) {

            <tr>

              <td>
                <div class="company">
                  <i class="fa-solid fa-building"></i>
                  {{ application.job.company.name }}
                </div>
              </td>

              <td>
                {{ application.job.title }}
              </td>

              <td>
                {{ application.createdAt | date:'dd MMM yyyy' }}
              </td>

              <td>

                <span
                  class="status"
                  [class.pending]="application.status === 'Pending'"
                  [class.interview]="application.status === 'Interviewing'"
                  [class.accepted]="application.status === 'Accepted'"
                  [class.rejected]="application.status === 'Rejected'"
                >
                  {{ application.status }}
                </span>

              </td>

              <td>
                <!-- <button>
                {{ application.createdAt | date:'dd MMM yyyy' }}
                </button> -->
              </td>

            </tr>

          }

        </tbody>

      </table>

    </div>

  }

</section>