<header class="navbar">
  <div class="container">

    <div class="navbar-content">

      <!-- Left -->
      <div class="nav-left">
        <a routerLink="/" class="logo">
          HireFlow
        </a>
      </div>

      <!-- Center -->
      <div class="nav-center">
        <nav class="desktop-nav">

          <a routerLink="/" class="active">Home</a>

          <a routerLink="/jobs">Jobs</a>

          <a routerLink="/companies">Companies</a>

          <a routerLink="/about">About</a>

          <a routerLink="/contact">Contact</a>

        </nav>
      </div>

      <!-- Right -->
      <div class="nav-right">

        <a routerLink="/login" class="login-btn">
          Log In
        </a>

        <button class="post-btn">
          Post a Job
        </button>

      </div>

    </div>

  </div>
</header>