<header class="navbar">
  <div class="container">

    <div class="navbar-content">

      <!-- Left -->
      <div class="nav-left">
        <a routerLink="/" class="logo">
          HireFlow
        </a>
      </div>

      <!-- Center -->
      <div class="nav-center">
        <nav class="desktop-nav">

    <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        Home
    </a>

    <a
        routerLink="/jobs"
        routerLinkActive="active"
    >
        Jobs
    </a>

    <a
        routerLink="/companies"
        routerLinkActive="active"
    >
        Companies
    </a>

    <a
        routerLink="/about"
        routerLinkActive="active"
    >
        About
    </a>

    <a
        routerLink="/contact"
        routerLinkActive="active"
    >
        Contact
    </a>

</nav>
      </div>

      <!-- Right -->
      <div class="nav-right">

        <a routerLink="/login" class="login-btn">
          Log In
        </a>

        <button class="post-btn">
          Post a Job
        </button>

      </div>

    </div>

  </div>
</header>