<header class="dashboard-header">

    <div class="search-box">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input
            type="text"
            placeholder="Search jobs, companies...">

    </div>

    <div class="header-actions">

        <button class="icon-btn">

            <i class="fa-regular fa-bell"></i>

            <span class="badge">3</span>

        </button>

        <button class="icon-btn">

            <i class="fa-regular fa-envelope"></i>

            <span class="badge">2</span>

        </button>

        <div class="user">

            <img
                src="images/So whenever you are, wherever you go— always bring….jpg"
                alt="User">

            <div>

                <h5>Reham Ayad</h5>

                <span>Frontend Developer</span>

            </div>

            <i class="fa-solid fa-chevron-down"></i>

        </div>

    </div>

</header>